In [1]:
import sys
!{sys.executable} -m pip install openpyxl numpy pandas scikit-learn

Requirement already satisfied: openpyxl in /usr/local/Cellar/jupyterlab/3.0.8/libexec/lib/python3.9/site-packages (3.0.7)
Requirement already satisfied: numpy in /usr/local/Cellar/jupyterlab/3.0.8/libexec/lib/python3.9/site-packages (1.20.2)
Requirement already satisfied: pandas in /usr/local/Cellar/jupyterlab/3.0.8/libexec/lib/python3.9/site-packages (1.2.3)
Requirement already satisfied: scikit-learn in /usr/local/Cellar/jupyterlab/3.0.8/libexec/lib/python3.9/site-packages (0.24.1)
Requirement already satisfied: et-xmlfile in /usr/local/Cellar/jupyterlab/3.0.8/libexec/lib/python3.9/site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/Cellar/jupyterlab/3.0.8/libexec/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/Cellar/jupyterlab/3.0.8/libexec/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/jupyterlab/3.0.8/libexec/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/Cellar/jupyterlab/3.0.8/libexec/lib/python3.9/site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/Cellar/jupyterlab/3.0.8/libexec/lib/python3.9/site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/Cellar/jupyterlab/3.0.8/libexec/lib/python3.9/site-packages (from scikit-learn) (1.6.2)

In [2]:
import openpyxl 
import pandas as pd
import numpy as np
import itertools
from openpyxl import load_workbook

In [3]:
district_level_file = "data/DDW_PCA0000_2011_Indiastatedist.xlsx"
wb = load_workbook(filename=district_level_file)
ws = wb['Sheet1']

In [4]:
data = ws.values
cols = next(data)[:]
data = list(data)
#idx = [r[0] for r in data]
#data = (itertools.islice(r, 1, None) for r in data)

In [5]:
print(', '.join(cols))

State, District, Subdistt, Town/Village, Ward, EB, Level, Name, TRU, No_HH, TOT_P, TOT_M, TOT_F, P_06, M_06, F_06, P_SC, M_SC, F_SC, P_ST, M_ST, F_ST, P_LIT, M_LIT, F_LIT, P_ILL, M_ILL, F_ILL, TOT_WORK_P, TOT_WORK_M, TOT_WORK_F, MAINWORK_P, MAINWORK_M, MAINWORK_F, MAIN_CL_P, MAIN_CL_M, MAIN_CL_F, MAIN_AL_P, MAIN_AL_M, MAIN_AL_F, MAIN_HH_P, MAIN_HH_M, MAIN_HH_F, MAIN_OT_P, MAIN_OT_M, MAIN_OT_F, MARGWORK_P, MARGWORK_M, MARGWORK_F, MARG_CL_P, MARG_CL_M, MARG_CL_F, MARG_AL_P, MARG_AL_M, MARG_AL_F, MARG_HH_P, MARG_HH_M, MARG_HH_F, MARG_OT_P, MARG_OT_M, MARG_OT_F, MARGWORK_3_6_P, MARGWORK_3_6_M, MARGWORK_3_6_F, MARG_CL_3_6_P, MARG_CL_3_6_M, MARG_CL_3_6_F, MARG_AL_3_6_P, MARG_AL_3_6_M, MARG_AL_3_6_F, MARG_HH_3_6_P, MARG_HH_3_6_M, MARG_HH_3_6_F, MARG_OT_3_6_P, MARG_OT_3_6_M, MARG_OT_3_6_F, MARGWORK_0_3_P, MARGWORK_0_3_M, MARGWORK_0_3_F, MARG_CL_0_3_P, MARG_CL_0_3_M, MARG_CL_0_3_F, MARG_AL_0_3_P, MARG_AL_0_3_M, MARG_AL_0_3_F, MARG_HH_0_3_P, MARG_HH_0_3_M, MARG_HH_0_3_F, MARG_OT_0_3_P, MARG_OT_0_3_M, MARG_OT_0_3_F, NON_WORK_P, NON_WORK_M, NON_WORK_F

In [6]:
dist_df = pd.DataFrame(data, columns=cols).infer_objects()

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,00,000,00000,000000,0000,000000,India,India,Total,249501663,...,5820403,1420348,491424,928924,5518450,3082613,2435837,728966109,291330383,437635726
1,00,000,00000,000000,0000,000000,India,India,Rural,168612897,...,5640822,1154975,386077,768898,3803400,1972348,1831052,485005760,200944045,284061715
2,00,000,00000,000000,0000,000000,India,India,Urban,80888766,...,179581,265373,105347,160026,1715050,1110265,604785,243960349,90386338,153574011
3,01,000,00000,000000,0000,000000,STATE,JAMMU & KASHMIR,Total,2119718,...,44570,26585,6780,19805,108457,56880,51577,8218589,3445572,4773017
4,01,000,00000,000000,0000,000000,STATE,JAMMU & KASHMIR,Rural,1553433,...,40936,21963,5757,16206,89232,45625,43607,5994979,2562471,3432508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,35,639,00000,000000,0000,000000,DISTRICT,North & Middle Andaman,Rural,25475,...,119,30,21,9,1047,654,393,65311,23633,41678
2024,35,639,00000,000000,0000,000000,DISTRICT,North & Middle Andaman,Urban,724,...,1,0,0,0,70,43,27,1707,616,1091
2025,35,640,00000,000000,0000,000000,DISTRICT,South Andaman,Total,59064,...,63,48,24,24,1311,933,378,141311,49720,91591
2026,35,640,00000,000000,0000,000000,DISTRICT,South Andaman,Rural,23767,...,62,42,20,22,777,550,227,57596,19971,37625
2027,35,640,00000,000000,0000,000000,DISTRICT,South Andaman,Urban,35297,...,1,6,4,2,534,383,151,83715,29749,53966

In [8]:
odisha_dist_df = dist_df.loc[dist_df['State'] == '21'].infer_objects()

In [9]:
odisha_dist_df_total = dist_df.loc[(dist_df['State'] == '21') & (dist_df['TRU'] == 'Total')]
odisha_dist_df_rural = dist_df.loc[(dist_df['State'] == '21') & (dist_df['TRU'] == 'Rural')]

In [10]:
odisha_dist_df_rural

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
1171,21,000,00000,000000,0000,000000,STATE,ODISHA,Rural,8089987,...,469634,69839,21808,48031,228274,114604,113670,19866848,7644629,12222219
1174,21,370,00000,000000,0000,000000,DISTRICT,Bargarh,Rural,336130,...,22277,2019,775,1244,3730,1899,1831,624260,242661,381599
1177,21,371,00000,000000,0000,000000,DISTRICT,Jharsuguda,Rural,84287,...,3735,1032,205,827,3552,1849,1703,179236,69462,109774
1180,21,372,00000,000000,0000,000000,DISTRICT,Sambalpur,Rural,179411,...,7929,3431,514,2917,5977,3041,2936,342464,144116,198348
1183,21,373,00000,000000,0000,000000,DISTRICT,Debagarh,Rural,70058,...,6589,696,214,482,2119,821,1298,132740,60366,72374
1186,21,374,00000,000000,0000,000000,DISTRICT,Sundargarh,Rural,312497,...,25205,2547,1035,1512,15757,8969,6788,729838,295659,434179
1189,21,375,00000,000000,0000,000000,DISTRICT,Kendujhar,Rural,348448,...,26335,1971,596,1375,10944,5269,5675,866228,346622,519606
1192,21,376,00000,000000,0000,000000,DISTRICT,Mayurbhanj,Rural,542726,...,51748,18915,4428,14487,23256,11119,12137,1170519,511820,658699
1195,21,377,00000,000000,0000,000000,DISTRICT,Baleshwar,Rural,477434,...,28486,2528,698,1830,7538,3417,4121,1220065,444168,775897
1198,21,378,00000,000000,0000,000000,DISTRICT,Bhadrak,Rural,270791,...,3888,1266,515,751,4217,2576,1641,909345,305367,603978
1201,21,379,00000,000000,0000,000000,DISTRICT,Kendrapara,Rural,305868,...,6252,1379,539,840,5740,2828,2912,917129,311696,605433
1204,21,380,00000,000000,0000,000000,DISTRICT,Jagatsinghapur,Rural,233626,...,3235,1158,528,630,4442,2345,2097,656614,224911,431703
1207,21,381,00000,000000,0000,000000,DISTRICT,Cuttack,Rural,429454,...,11424,2398,948,1450,12367,6540,5827,1204524,417067,787457
1210,21,382,00000,000000,0000,000000,DISTRICT,Jajapur,Rural,378645,...,3381,1209,771,438,5974,4353,1621,1180490,406181,774309
1213,21,383,00000,000000,0000,000000,DISTRICT,Dhenkanal,Rural,253446,...,8826,1453,604,849,8445,4739,3706,676919,242489,434430
1216,21,384,00000,000000,0000,000000,DISTRICT,Anugul,Rural,249733,...,12041,2910,1241,1669,10497,5811,4686,611648,244392,367256
1219,21,385,00000,000000,0000,000000,DISTRICT,Nayagarh,Rural,210850,...,3569,2114,687,1427,5926,3295,2631,564822,198316,366506
1222,21,386,00000,000000,0000,000000,DISTRICT,Khordha,Rural,247304,...,3401,1361,524,837,7184,4268,2916,767715,263283,504432
1225,21,387,00000,000000,0000,000000,DISTRICT,Puri,Rural,313188,...,7728,2133,839,1294,8407,3934,4473,905873,306570,599303
1228,21,388,00000,000000,0000,000000,DISTRICT,Ganjam,Rural,596062,...,44744,3126,1661,1465,21531,11477,10054,1529108,604258,924850
1231,21,389,00000,000000,0000,000000,DISTRICT,Gajapati,Rural,112365,...,7767,677,251,426,5599,2137,3462,239886,110776,129110
1234,21,390,00000,000000,0000,000000,DISTRICT,Kandhamal,Rural,155256,...,14249,2608,396,2212,10908,4531,6377,331154,149015,182139
1237,21,391,00000,000000,0000,000000,DISTRICT,Baudh,Rural,102402,...,6383,1044,274,770,2515,1105,1410,208415,90942,117473
1240,21,392,00000,000000,0000,000000,DISTRICT,Subarnapur,Rural,139346,...,8622,1288,340,948,2447,1157,1290,292025,118139,173886
1243,21,393,00000,000000,0000,000000,DISTRICT,Balangir,Rural,369273,...,28796,2637,950,1687,9197,4313,4884,798327,313107,485220
1246,21,394,00000,000000,0000,000000,DISTRICT,Nuapada,Rural,144299,...,13167,838,305,533,2285,983,1302,283446,126114,157332
1249,21,395,00000,000000,0000,000000,DISTRICT,Kalahandi,Rural,373304,...,34563,2007,643,1364,7999,3922,4077,745606,310760,434846
1252,21,396,00000,000000,0000,000000,DISTRICT,Rayagada,Rural,191568,...,15525,1204,297,907,4410,1855,2555,407246,179978,227268
1255,21,397,00000,000000,0000,000000,DISTRICT,Nabarangapur,Rural,253208,...,31659,1521,519,1002,4810,1957,2853,556149,242339,313810
1258,21,398,00000,000000,0000,000000,DISTRICT,Koraput,Rural,282783,...,19962,1207,355,852,7770,3153,4617,542865,242381,300484
1261,21,399,00000,000000,0000,000000,DISTRICT,Malkangiri,Rural,126225,...,8148,1162,156,1006,2731,941,1790,272192,121674,150518

In [11]:
odisha_dist_df_total

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
1170,21,000,00000,000000,0000,000000,STATE,ODISHA,Total,9637820,...,476386,75415,24377,51038,261727,135762,125965,24432629,9309481,15123148
1173,21,370,00000,000000,0000,000000,DISTRICT,Bargarh,Total,370308,...,22420,2138,841,1297,4423,2394,2029,719163,275856,443307
1176,21,371,00000,000000,0000,000000,DISTRICT,Jharsuguda,Total,136061,...,3848,1201,308,893,4804,2670,2134,331798,124672,207126
1179,21,372,00000,000000,0000,000000,DISTRICT,Sambalpur,Total,249597,...,8181,3939,633,3306,7258,3804,3454,535259,213716,321543
1182,21,373,00000,000000,0000,000000,DISTRICT,Debagarh,Total,75452,...,6623,700,217,483,2343,938,1405,147085,65846,81239
1185,21,374,00000,000000,0000,000000,DISTRICT,Sundargarh,Total,479109,...,25403,2821,1171,1650,19668,11494,8174,1220210,476460,743750
1188,21,375,00000,000000,0000,000000,DISTRICT,Kendujhar,Total,405272,...,26514,2072,643,1429,12407,6159,6248,1035219,408410,626809
1191,21,376,00000,000000,0000,000000,DISTRICT,Mayurbhanj,Total,586253,...,52324,19204,4517,14687,24565,11935,12630,1296204,558431,737773
1194,21,377,00000,000000,0000,000000,DISTRICT,Baleshwar,Total,533001,...,28688,2734,777,1957,8436,4073,4363,1387822,501767,886055
1197,21,378,00000,000000,0000,000000,DISTRICT,Bhadrak,Total,306333,...,4094,1379,579,800,5474,3608,1866,1037738,350701,687037
1200,21,379,00000,000000,0000,000000,DISTRICT,Kendrapara,Total,321934,...,6433,1452,561,891,6071,3060,3011,973471,331432,642039
1203,21,380,00000,000000,0000,000000,DISTRICT,Jagatsinghapur,Total,261307,...,3254,1212,558,654,4925,2649,2276,733322,252276,481046
1206,21,381,00000,000000,0000,000000,DISTRICT,Cuttack,Total,579170,...,11474,2837,1177,1660,14596,8133,6463,1688105,590884,1097221
1209,21,382,00000,000000,0000,000000,DISTRICT,Jajapur,Total,407851,...,3510,1280,820,460,6437,4716,1721,1274958,439943,835015
1212,21,383,00000,000000,0000,000000,DISTRICT,Dhenkanal,Total,279364,...,9013,1497,625,872,8950,5080,3870,757278,272041,485237
1215,21,384,00000,000000,0000,000000,DISTRICT,Anugul,Total,297050,...,12309,3065,1356,1709,11682,6493,5189,747301,294771,452530
1218,21,385,00000,000000,0000,000000,DISTRICT,Nayagarh,Total,228315,...,3613,2222,743,1479,6351,3601,2750,619156,218045,401111
1221,21,386,00000,000000,0000,000000,DISTRICT,Khordha,Total,494212,...,3718,1907,818,1089,11162,6976,4186,1459480,521257,938223
1224,21,387,00000,000000,0000,000000,DISTRICT,Puri,Total,367269,...,7835,2285,898,1387,9005,4228,4777,1077054,366919,710135
1227,21,388,00000,000000,0000,000000,DISTRICT,Ganjam,Total,758267,...,46217,3832,1983,1849,26071,14124,11947,2027259,789191,1238068
1230,21,389,00000,000000,0000,000000,DISTRICT,Gajapati,Total,128523,...,7981,766,287,479,6119,2394,3725,283884,126975,156909
1233,21,390,00000,000000,0000,000000,DISTRICT,Kandhamal,Total,172022,...,14368,2654,415,2239,11499,4881,6618,377761,166430,211331
1236,21,391,00000,000000,0000,000000,DISTRICT,Baudh,Total,106961,...,6393,1056,283,773,2586,1152,1434,221705,95998,125707
1239,21,392,00000,000000,0000,000000,DISTRICT,Subarnapur,Total,151136,...,8840,1331,365,966,2593,1248,1345,323522,129717,193805
1242,21,393,00000,000000,0000,000000,DISTRICT,Balangir,Total,414749,...,28895,2939,1185,1754,10009,4861,5148,928396,360141,568255
1245,21,394,00000,000000,0000,000000,DISTRICT,Nuapada,Total,152210,...,13221,906,330,576,2639,1192,1447,304944,133807,171137
1248,21,395,00000,000000,0000,000000,DISTRICT,Kalahandi,Total,401251,...,34783,2059,673,1386,8753,4401,4352,824939,339811,485128
1251,21,396,00000,000000,0000,000000,DISTRICT,Rayagada,Total,226144,...,15956,1509,420,1089,5326,2352,2974,500789,213928,286861
1254,21,397,00000,000000,0000,000000,DISTRICT,Nabarangapur,Total,273423,...,32004,1860,626,1234,5849,2488,3361,610040,262171,347869
1257,21,398,00000,000000,0000,000000,DISTRICT,Koraput,Total,337677,...,20258,1298,378,920,8629,3562,5067,686241,294756,391485
1260,21,399,00000,000000,0000,000000,DISTRICT,Malkangiri,Total,137599,...,8216,1260,190,1070,3097,1096,2001,302526,133129,169397

In [12]:
odisha_dist_df_concat = pd.merge(odisha_dist_df_total, odisha_dist_df_rural, how="inner", on=["State", "District", "Subdistt", "Town/Village", "Ward", "EB", "Level", "Name"] )

In [13]:
odisha_dist_df_concat

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU_x,No_HH_x,...,MARG_AL_0_3_F_y,MARG_HH_0_3_P_y,MARG_HH_0_3_M_y,MARG_HH_0_3_F_y,MARG_OT_0_3_P_y,MARG_OT_0_3_M_y,MARG_OT_0_3_F_y,NON_WORK_P_y,NON_WORK_M_y,NON_WORK_F_y
0,21,000,00000,000000,0000,000000,STATE,ODISHA,Total,9637820,...,469634,69839,21808,48031,228274,114604,113670,19866848,7644629,12222219
1,21,370,00000,000000,0000,000000,DISTRICT,Bargarh,Total,370308,...,22277,2019,775,1244,3730,1899,1831,624260,242661,381599
2,21,371,00000,000000,0000,000000,DISTRICT,Jharsuguda,Total,136061,...,3735,1032,205,827,3552,1849,1703,179236,69462,109774
3,21,372,00000,000000,0000,000000,DISTRICT,Sambalpur,Total,249597,...,7929,3431,514,2917,5977,3041,2936,342464,144116,198348
4,21,373,00000,000000,0000,000000,DISTRICT,Debagarh,Total,75452,...,6589,696,214,482,2119,821,1298,132740,60366,72374
5,21,374,00000,000000,0000,000000,DISTRICT,Sundargarh,Total,479109,...,25205,2547,1035,1512,15757,8969,6788,729838,295659,434179
6,21,375,00000,000000,0000,000000,DISTRICT,Kendujhar,Total,405272,...,26335,1971,596,1375,10944,5269,5675,866228,346622,519606
7,21,376,00000,000000,0000,000000,DISTRICT,Mayurbhanj,Total,586253,...,51748,18915,4428,14487,23256,11119,12137,1170519,511820,658699
8,21,377,00000,000000,0000,000000,DISTRICT,Baleshwar,Total,533001,...,28486,2528,698,1830,7538,3417,4121,1220065,444168,775897
9,21,378,00000,000000,0000,000000,DISTRICT,Bhadrak,Total,306333,...,3888,1266,515,751,4217,2576,1641,909345,305367,603978
10,21,379,00000,000000,0000,000000,DISTRICT,Kendrapara,Total,321934,...,6252,1379,539,840,5740,2828,2912,917129,311696,605433
11,21,380,00000,000000,0000,000000,DISTRICT,Jagatsinghapur,Total,261307,...,3235,1158,528,630,4442,2345,2097,656614,224911,431703
12,21,381,00000,000000,0000,000000,DISTRICT,Cuttack,Total,579170,...,11424,2398,948,1450,12367,6540,5827,1204524,417067,787457
13,21,382,00000,000000,0000,000000,DISTRICT,Jajapur,Total,407851,...,3381,1209,771,438,5974,4353,1621,1180490,406181,774309
14,21,383,00000,000000,0000,000000,DISTRICT,Dhenkanal,Total,279364,...,8826,1453,604,849,8445,4739,3706,676919,242489,434430
15,21,384,00000,000000,0000,000000,DISTRICT,Anugul,Total,297050,...,12041,2910,1241,1669,10497,5811,4686,611648,244392,367256
16,21,385,00000,000000,0000,000000,DISTRICT,Nayagarh,Total,228315,...,3569,2114,687,1427,5926,3295,2631,564822,198316,366506
17,21,386,00000,000000,0000,000000,DISTRICT,Khordha,Total,494212,...,3401,1361,524,837,7184,4268,2916,767715,263283,504432
18,21,387,00000,000000,0000,000000,DISTRICT,Puri,Total,367269,...,7728,2133,839,1294,8407,3934,4473,905873,306570,599303
19,21,388,00000,000000,0000,000000,DISTRICT,Ganjam,Total,758267,...,44744,3126,1661,1465,21531,11477,10054,1529108,604258,924850
20,21,389,00000,000000,0000,000000,DISTRICT,Gajapati,Total,128523,...,7767,677,251,426,5599,2137,3462,239886,110776,129110
21,21,390,00000,000000,0000,000000,DISTRICT,Kandhamal,Total,172022,...,14249,2608,396,2212,10908,4531,6377,331154,149015,182139
22,21,391,00000,000000,0000,000000,DISTRICT,Baudh,Total,106961,...,6383,1044,274,770,2515,1105,1410,208415,90942,117473
23,21,392,00000,000000,0000,000000,DISTRICT,Subarnapur,Total,151136,...,8622,1288,340,948,2447,1157,1290,292025,118139,173886
24,21,393,00000,000000,0000,000000,DISTRICT,Balangir,Total,414749,...,28796,2637,950,1687,9197,4313,4884,798327,313107,485220
25,21,394,00000,000000,0000,000000,DISTRICT,Nuapada,Total,152210,...,13167,838,305,533,2285,983,1302,283446,126114,157332
26,21,395,00000,000000,0000,000000,DISTRICT,Kalahandi,Total,401251,...,34563,2007,643,1364,7999,3922,4077,745606,310760,434846
27,21,396,00000,000000,0000,000000,DISTRICT,Rayagada,Total,226144,...,15525,1204,297,907,4410,1855,2555,407246,179978,227268
28,21,397,00000,000000,0000,000000,DISTRICT,Nabarangapur,Total,273423,...,31659,1521,519,1002,4810,1957,2853,556149,242339,313810
29,21,398,00000,000000,0000,000000,DISTRICT,Koraput,Total,337677,...,19962,1207,355,852,7770,3153,4617,542865,242381,300484
30,21,399,00000,000000,0000,000000,DISTRICT,Malkangiri,Total,137599,...,8148,1162,156,1006,2731,941,1790,272192,121674,150518

In [14]:
district_level_area_file = "data/QGIS/dist_comp.xlsx"
wb = load_workbook(filename=district_level_area_file)
ws = wb['dist_comp']
data = ws.values
cols = next(data)[:]
data = list(data)
#idx = [r[0] for r in data]
#data = (itertools.islice(r, 1, None) for r in data)

In [15]:
dist_area_df = pd.DataFrame(data, columns=cols).infer_objects()

In [16]:
dist_area_df

,DISTRICT,ST_NM,ST_CEN_CD,DT_CEN_CD,censuscode,Area,Perimeter,Longitude,Latitude
0,Anugul,Odisha,21,15,384,6357.965288,564.383,84.909,20.986
1,Balangir,Odisha,21,24,393,6563.381292,529.228,83.174,20.590
2,Baleshwar,Odisha,21,8,377,3876.034361,528.022,86.917,21.490
3,Bargarh,Odisha,21,1,370,5794.136200,553.991,83.353,21.220
4,Bauda,Odisha,21,22,391,3116.413049,396.457,84.178,20.647
5,Bhadrak,Odisha,21,9,378,2479.360136,304.862,86.625,20.986
6,Cuttack,Odisha,21,12,381,3940.548513,615.151,85.706,20.450
7,Debagarh,Odisha,21,4,373,2809.396764,359.500,84.804,21.466
8,Dhenkanal,Odisha,21,14,383,4469.948709,392.833,85.526,20.826
9,Gajapati,Odisha,21,20,389,4057.292865,431.997,84.161,19.173
10,Ganjam,Odisha,21,19,388,8477.579981,604.858,84.671,19.627
11,Jagatsinghapur,Odisha,21,11,380,1738.409580,245.269,86.344,20.222
12,Jajapur,Odisha,21,13,382,2895.548084,403.334,86.152,20.856
13,Jharsuguda,Odisha,21,2,371,2115.467316,336.995,83.955,21.806
14,Kalahandi,Odisha,21,26,395,7898.501136,594.722,83.109,19.868
15,Kandhamal,Odisha,21,21,390,8045.269695,606.859,84.047,20.129
16,Kendrapara,Odisha,21,10,379,2475.906506,401.499,86.610,20.553
17,Kendujhar,Odisha,21,6,375,8302.269139,617.498,85.705,21.537
18,Khordha,Odisha,21,17,386,2748.543532,592.700,85.511,20.090
19,Koraput,Odisha,21,29,398,8701.546166,750.866,82.721,18.817
20,Malkangiri,Odisha,21,30,399,5819.892852,479.247,81.956,18.258
21,Mayurbhanj,Odisha,21,7,376,10423.972674,721.718,86.411,21.895
22,Nabarangapur,Odisha,21,28,397,5297.982431,500.443,82.338,19.588
23,Nayagarh,Odisha,21,16,385,3888.811213,410.300,84.999,20.213
24,Nuapada,Odisha,21,25,394,3863.367810,397.398,82.578,20.466
25,Puri,Odisha,21,18,387,3552.541804,451.370,85.721,19.877
26,Rayagada,Odisha,21,27,396,7364.177271,720.697,83.514,19.362
27,Sambalpur,Odisha,21,3,372,6726.089805,585.761,84.281,21.452
28,Subarnapur,Odisha,21,23,392,2356.405866,323.421,83.825,20.932
29,Sundargarh,Odisha,21,5,374,9717.714718,763.728,84.511,22.080

In [17]:
dist_area_df['ST_CEN_CD'] = dist_area_df['ST_CEN_CD'].apply(str)
dist_area_df['DT_CEN_CD'] = dist_area_df['DT_CEN_CD'].apply(str)
dist_area_df['censuscode'] = dist_area_df['censuscode'].apply(str)
dict(dist_area_df.dtypes)

{'DISTRICT': dtype('O'),
 'ST_NM': dtype('O'),
 'ST_CEN_CD': dtype('O'),
 'DT_CEN_CD': dtype('O'),
 'censuscode': dtype('O'),
 'Area': dtype('float64'),
 'Perimeter': dtype('float64'),
 'Longitude': dtype('float64'),
 'Latitude': dtype('float64')}

In [18]:
district_level_expnd_file = "data/Orissa_Expenditure_Name_Corrected.xlsx"
wb = load_workbook(filename=district_level_expnd_file)
ws = wb['Sheet2']
data = ws.values
cols = next(data)[1:]
data = list(data)
idx = [r[0] for r in data]
data = (itertools.islice(r, 1, None) for r in data)

In [19]:
dist_expnd_df = pd.DataFrame(data, columns=cols).infer_objects()

In [20]:
dist_expnd_df

,District,UNSKL_EXP_20,UNSKL_EXP_PREV,UNSKL_EXP_TOT,MAT_EXP_20,MAT_EXP_PREV,MAT_EXP_TOT,ADMN_EXP_20,ADMN_EXP_PREV,ADMN_EXP_TOT,TOT_EXP_20,TOT_EXP_PREV,TOT_EXP_TOT
0,Anugul,3277.23,110.65,3387.88,1045.81,64.93,1110.74,239.56,0.20,239.76,4562.60,175.78,4738.38
1,Baleshwar,6239.80,71.09,6310.89,1012.30,46.89,1059.19,319.33,0.09,319.42,7571.43,118.06,7689.49
2,Bargarh,6251.42,51.26,6302.68,1951.76,46.40,1998.16,358.70,6.79,365.49,8561.88,104.45,8666.33
3,Bhadrak,3382.49,72.36,3454.85,405.47,8.43,413.90,233.80,5.51,239.31,4021.77,86.31,4108.08
4,Balangir,11218.52,207.59,11426.11,2768.75,187.12,2955.87,567.93,20.26,588.19,14555.21,414.97,14970.17
5,Baudh,2798.28,73.08,2871.36,739.28,39.07,778.35,108.62,13.28,121.90,3646.19,125.43,3771.62
6,Cuttack,3723.26,25.81,3749.07,916.07,44.57,960.64,376.30,3.69,379.99,5015.63,74.07,5089.70
7,Debagarh,2043.37,101.11,2144.48,964.12,151.56,1115.68,123.73,2.47,126.20,3131.22,255.13,3386.36
8,Dhenkanal,6007.87,187.56,6195.43,2972.27,97.81,3070.08,357.48,0.84,358.32,9337.62,286.21,9623.83
9,Gajapati,4012.93,79.15,4092.08,1912.05,75.10,1987.15,244.25,4.51,248.76,6169.23,158.76,6327.98
10,Ganjam,20352.07,406.01,20758.08,6915.06,354.37,7269.43,1107.04,7.64,1114.68,28374.17,768.02,29142.19
11,Jagatsinghapur,1302.01,41.31,1343.32,575.72,27.35,603.07,133.07,1.64,134.71,2010.80,70.30,2081.10
12,Jajapur,4002.23,80.55,4082.78,1362.97,36.66,1399.63,315.02,2.84,317.86,5680.22,120.06,5800.28
13,Jharsuguda,2291.67,31.96,2323.63,874.57,26.90,901.47,133.63,0.00,133.63,3299.87,58.86,3358.73
14,Kalahandi,8416.11,106.98,8523.09,3013.90,155.39,3169.29,378.01,2.81,380.82,11808.03,265.18,12073.21
15,Kandhamal,7283.45,118.62,7402.07,3135.17,141.00,3276.17,413.70,1.95,415.65,10832.32,261.57,11093.89
16,Kendrapara,3536.17,45.39,3581.56,1573.82,18.94,1592.76,261.52,4.96,266.48,5371.51,69.29,5440.80
17,Kendujhar,10166.32,202.09,10368.41,3583.32,285.21,3868.53,518.16,4.91,523.07,14267.80,492.21,14760.01
18,Khordha,1884.78,39.08,1923.86,722.39,24.35,746.74,191.74,0.20,191.94,2798.92,63.64,2862.56
19,Koraput,10447.85,169.84,10617.69,5410.98,257.23,5668.21,495.56,7.68,503.24,16354.39,434.75,16789.15
20,Malkangiri,3251.99,86.68,3338.67,935.86,38.08,973.94,242.32,4.48,246.80,4430.18,129.24,4559.42
21,Mayurbhanj,22450.76,394.83,22845.59,12746.14,990.13,13736.27,994.54,13.75,1008.29,36191.45,1398.72,37590.17
22,Nabarangapur,9871.50,160.36,10031.86,4224.79,191.98,4416.77,240.67,5.03,245.70,14336.96,357.37,14694.33
23,Nayagarh,3549.56,91.11,3640.67,1559.12,65.34,1624.46,327.36,4.22,331.58,5436.04,160.67,5596.71
24,Nuapada,4752.44,50.50,4802.94,683.41,92.33,775.74,255.07,2.51,257.58,5690.92,145.33,5836.25
25,Puri,3858.37,52.46,3910.83,1180.36,38.96,1219.32,316.94,7.05,323.99,5355.68,98.47,5454.14
26,Rayagada,6979.16,179.85,7159.01,4791.01,339.26,5130.27,318.78,10.58,329.36,12088.96,529.69,12618.64
27,Sambalpur,3257.39,62.84,3320.23,1165.97,43.69,1209.66,256.37,4.24,260.61,4679.73,110.77,4790.50
28,Subarnapur,3175.19,75.01,3250.20,901.79,100.07,1001.86,157.98,13.14,171.12,4234.96,188.22,4423.18
29,Sundargarh,11435.94,237.29,11673.23,3832.15,352.96,4185.11,493.62,18.76,512.38,15761.71,609.02,16370.73
30,ODISHA,191220.13,3612.42,194832.55,73876.38,4342.08,78218.46,10480.80,176.03,10656.83,275577.40,8130.55,283707.93

In [21]:
dist_all_data_no_geo = pd.merge(
    dist_expnd_df,
    odisha_dist_df_concat,
    how="inner",
    left_on="District",
    right_on="Name",
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_a", "_b"),
    copy=True,
    indicator=False,
    validate=None,
)

In [22]:
dist_all_data = pd.merge(
    dist_all_data_no_geo,
    dist_area_df,
    how="inner",
    left_on="District_b",
    right_on="censuscode",
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_p", "_q"),
    copy=True,
    indicator=False,
    validate=None,
)

In [23]:
dist_all_data = dist_all_data[sorted(dist_all_data)].sort_values(by=['District_a'])

In [24]:
dist_all_data['PERCENT_EXP_TOT'] = dist_all_data['TOT_EXP_TOT']/(dist_all_data['TOT_EXP_TOT'].sum())

In [25]:
dist_all_data['SCALED_EXP_TOT'] = (dist_all_data['PERCENT_EXP_TOT'] - dist_all_data['PERCENT_EXP_TOT'].mean()) / (dist_all_data['PERCENT_EXP_TOT'].std())
dist_all_data['MINMAX_EXP_TOT'] = (dist_all_data['PERCENT_EXP_TOT'] - dist_all_data['PERCENT_EXP_TOT'].min()) / (dist_all_data['PERCENT_EXP_TOT'].max() - dist_all_data['PERCENT_EXP_TOT'].min())

In [26]:
dist_all_data

,ADMN_EXP_20,ADMN_EXP_PREV,ADMN_EXP_TOT,Area,DISTRICT,DT_CEN_CD,District_a,District_b,EB,F_06_x,...,TRU_y,Town/Village,UNSKL_EXP_20,UNSKL_EXP_PREV,UNSKL_EXP_TOT,Ward,censuscode,PERCENT_EXP_TOT,SCALED_EXP_TOT,MINMAX_EXP_TOT
14,239.56,0.20,239.76,6357.965288,Anugul,15,Anugul,384,000000,71737,...,Rural,000000,3277.23,110.65,3387.88,0000,384,0.016702,-0.595882,0.074834
23,567.93,20.26,588.19,6563.381292,Balangir,24,Balangir,393,000000,105662,...,Rural,000000,11218.52,207.59,11426.11,0000,393,0.052766,0.696240,0.362980
7,319.33,0.09,319.42,3876.034361,Baleshwar,8,Baleshwar,377,000000,140107,...,Rural,000000,6239.80,71.09,6310.89,0000,377,0.027104,-0.223201,0.157942
0,358.70,6.79,365.49,5794.136200,Bargarh,1,Bargarh,370,000000,79655,...,Rural,000000,6251.42,51.26,6302.68,0000,370,0.030547,-0.099841,0.185452
21,108.62,13.28,121.90,3116.413049,Bauda,22,Baudh,391,000000,30587,...,Rural,000000,2798.28,73.08,2871.36,0000,391,0.013294,-0.717970,0.047608
8,233.80,5.51,239.31,2479.360136,Bhadrak,9,Bhadrak,378,000000,89512,...,Rural,000000,3382.49,72.36,3454.85,0000,378,0.014480,-0.675480,0.057083
11,376.30,3.69,379.99,3940.548513,Cuttack,12,Cuttack,381,000000,129779,...,Rural,000000,3723.26,25.81,3749.07,0000,381,0.017940,-0.551516,0.084728
3,123.73,2.47,126.20,2809.396764,Debagarh,4,Debagarh,373,000000,19199,...,Rural,000000,2043.37,101.11,2144.48,0000,373,0.011936,-0.766622,0.036758
13,357.48,0.84,358.32,4469.948709,Dhenkanal,14,Dhenkanal,383,000000,65003,...,Rural,000000,6007.87,187.56,6195.43,0000,383,0.033922,0.021077,0.212417
19,244.25,4.51,248.76,4057.292865,Gajapati,20,Gajapati,389,000000,42772,...,Rural,000000,4012.93,79.15,4092.08,0000,389,0.022305,-0.395140,0.119600
18,1107.04,7.64,1114.68,8477.579981,Ganjam,19,Ganjam,388,000000,199999,...,Rural,000000,20352.07,406.01,20758.08,0000,388,0.102719,2.485954,0.762090
10,133.07,1.64,134.71,1738.409580,Jagatsinghapur,11,Jagatsinghapur,380,000000,53094,...,Rural,000000,1302.01,41.31,1343.32,0000,380,0.007335,-0.931457,0.000000
12,315.02,2.84,317.86,2895.548084,Jajapur,13,Jajapur,382,000000,104246,...,Rural,000000,4002.23,80.55,4082.78,0000,382,0.020445,-0.461780,0.104739
1,133.63,0.00,133.63,2115.467316,Jharsuguda,2,Jharsuguda,371,000000,31453,...,Rural,000000,2291.67,31.96,2323.63,0000,371,0.011839,-0.770112,0.035980
25,378.01,2.81,380.82,7898.501136,Kalahandi,26,Kalahandi,395,000000,108844,...,Rural,000000,8416.11,106.98,8523.09,0000,395,0.042555,0.330397,0.281396
20,413.70,1.95,415.65,8045.269695,Kandhamal,21,Kandhamal,390,000000,53794,...,Rural,000000,7283.45,118.62,7402.07,0000,390,0.039103,0.206723,0.253817
9,261.52,4.96,266.48,2475.906506,Kendrapara,10,Kendrapara,379,000000,77505,...,Rural,000000,3536.17,45.39,3581.56,0000,379,0.019177,-0.507177,0.094615
5,518.16,4.91,523.07,8302.269139,Kendujhar,6,Kendujhar,375,000000,127518,...,Rural,000000,10166.32,202.09,10368.41,0000,375,0.052025,0.669700,0.357061
16,191.74,0.20,191.94,2748.543532,Khordha,17,Khordha,386,000000,113515,...,Rural,000000,1884.78,39.08,1923.86,0000,386,0.010090,-0.832770,0.022007
28,495.56,7.68,503.24,8701.546166,Koraput,29,Koraput,398,000000,111384,...,Rural,000000,10447.85,169.84,10617.69,0000,398,0.059178,0.925950,0.414205
29,242.32,4.48,246.80,5819.892852,Malkangiri,30,Malkangiri,399,000000,54322,...,Rural,000000,3251.99,86.68,3338.67,0000,399,0.016071,-0.618482,0.069794
6,994.54,13.75,1008.29,10423.972674,Mayurbhanj,7,Mayurbhanj,376,000000,172298,...,Rural,000000,22450.76,394.83,22845.59,0000,376,0.132496,3.552808,1.000000
27,240.67,5.03,245.70,5297.982431,Nabarangapur,28,Nabarangapur,397,000000,103834,...,Rural,000000,9871.50,160.36,10031.86,0000,397,0.051794,0.661405,0.355211
15,327.36,4.22,331.58,3888.811213,Nayagarh,16,Nayagarh,385,000000,49272,...,Rural,000000,3549.56,91.11,3640.67,0000,385,0.019727,-0.487488,0.099006
24,255.07,2.51,257.58,3863.367810,Nuapada,25,Nuapada,394,000000,43744,...,Rural,000000,4752.44,50.50,4802.94,0000,394,0.020571,-0.457238,0.105752
17,316.94,7.05,323.99,3552.541804,Puri,18,Puri,387,000000,83392,...,Rural,000000,3858.37,52.46,3910.83,0000,387,0.019224,-0.505493,0.094991
26,318.78,10.58,329.36,7364.177271,Rayagada,27,Rayagada,396,000000,72924,...,Rural,000000,6979.16,179.85,7159.01,0000,396,0.044478,0.399277,0.296756
2,256.37,4.24,260.61,6726.089805,Sambalpur,3,Sambalpur,372,000000,57104,...,Rural,000000,3257.39,62.84,3320.23,0000,372,0.016885,-0.589300,0.076302
22,157.98,13.14,171.12,2356.405866,Subarnapur,23,Subarnapur,392,000000,36486,...,Rural,000000,3175.19,75.01,3250.20,0000,392,0.015591,-0.635688,0.065957
4,493.62,18.76,512.38,9717.714718,Sundargarh,5,Sundargarh,374,000000,127956,...,Rural,000000,11435.94,237.29,11673.23,0000,374,0.057703,0.873109,0.402422

In [27]:
# Y = dist_all_data[['UNSKL_EXP_20', 'UNSKL_EXP_PREV', 'UNSKL_EXP_TOT',
#        'MAT_EXP_20', 'MAT_EXP_PREV', 'MAT_EXP_TOT', 'ADMN_EXP_20',
#        'ADMN_EXP_PREV', 'ADMN_EXP_TOT', 'TOT_EXP_20', 'TOT_EXP_PREV', 'TOT_EXP_TOT']]
#Y = dist_all_data[['UNSKL_EXP_TOT', 'MAT_EXP_TOT',  'ADMN_EXP_TOT', 'TOT_EXP_TOT']]
Y = dist_all_data[['PERCENT_EXP_TOT']]

In [28]:
# X = dist_all_data[dist_all_data.columns.difference(['UNSKL_EXP_20', 'UNSKL_EXP_PREV', 'UNSKL_EXP_TOT',
#        'MAT_EXP_20', 'MAT_EXP_PREV', 'MAT_EXP_TOT', 'ADMN_EXP_20',
#        'ADMN_EXP_PREV', 'ADMN_EXP_TOT', 'TOT_EXP_20', 'TOT_EXP_PREV', 'TOT_EXP_TOT', 'Area', 'Perimeter', 'Longitude','Latitude'])]
X = dist_all_data.select_dtypes(['number'])[['Area', 'Perimeter', 'Longitude','Latitude']]

In [29]:
X

            Area  Perimeter  Longitude  Latitude
14   6357.965288    564.383     84.909    20.986
23   6563.381292    529.228     83.174    20.590
7    3876.034361    528.022     86.917    21.490
0    5794.136200    553.991     83.353    21.220
21   3116.413049    396.457     84.178    20.647
8    2479.360136    304.862     86.625    20.986
11   3940.548513    615.151     85.706    20.450
3    2809.396764    359.500     84.804    21.466
13   4469.948709    392.833     85.526    20.826
19   4057.292865    431.997     84.161    19.173
18   8477.579981    604.858     84.671    19.627
10   1738.409580    245.269     86.344    20.222
12   2895.548084    403.334     86.152    20.856
1    2115.467316    336.995     83.955    21.806
25   7898.501136    594.722     83.109    19.868
20   8045.269695    606.859     84.047    20.129
9    2475.906506    401.499     86.610    20.553
5    8302.269139    617.498     85.705    21.537
16   2748.543532    592.700     85.511    20.090
28   8701.546166    750.866     82.721    18.817
29   5819.892852    479.247     81.956    18.258
6   10423.972674    721.718     86.411    21.895
27   5297.982431    500.443     82.338    19.588
15   3888.811213    410.300     84.999    20.213
24   3863.367810    397.398     82.578    20.466
17   3552.541804    451.370     85.721    19.877
26   7364.177271    720.697     83.514    19.362
2    6726.089805    585.761     84.281    21.452
22   2356.405866    323.421     83.825    20.932
4    9717.714718    763.728     84.511    22.080

In [30]:
X.shape

(30, 4)

In [31]:
Y

    PERCENT_EXP_TOT
14         0.016702
23         0.052766
7          0.027104
0          0.030547
21         0.013294
8          0.014480
11         0.017940
3          0.011936
13         0.033922
19         0.022305
18         0.102719
10         0.007335
12         0.020445
1          0.011839
25         0.042555
20         0.039103
9          0.019177
5          0.052025
16         0.010090
28         0.059178
29         0.016071
6          0.132496
27         0.051794
15         0.019727
24         0.020571
17         0.019224
26         0.044478
2          0.016885
22         0.015591
4          0.057703

In [32]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor

class LogitRegression(GradientBoostingRegressor):

    def fit(self, x, p):
        p = np.asarray(p)
        y = np.log(p / (1 - p)) 
        return super().fit(x, y)

    def predict(self, x):
        y = super().predict(x)
        return 1 / (np.exp(-y) + 1)

In [33]:
from sklearn.multioutput import MultiOutputRegressor, RegressorChain
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, Normalizer, MinMaxScaler
regr = make_pipeline(MinMaxScaler(), LogitRegression())
#base_regr = RadiusNeighborsRegressor(radius=1.0, weights="uniform")
#regr = make_pipeline(StandardScaler(), MultiOutputRegressor(base_regr))
# regr = make_pipeline(MinMaxScaler(), RegressorChain(base_estimator=base_regr, 
#                                                       order= [0, 1, 8, 2, 3, 9, 4, 5, 10, 6, 7, 11]))
regr.fit(X, Y)

/usr/local/Cellar/jupyterlab/3.0.8/libexec/lib/python3.9/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

Pipeline(steps=[('minmaxscaler', MinMaxScaler()),
                ('logitregression', LogitRegression())])

In [34]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
# define the evaluation procedure
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate the model and collect the scores
n_scores = cross_val_score(regr, X, Y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
# force the scores to be positive
n_scores = abs(n_scores)
# summarize performance
print('MAE: %.3f (%.3f)' % (np.mean(n_scores), np.std(n_scores)))

MAE: 0.016 (0.011)

In [35]:
Y_pred= regr.predict(X)

In [36]:
from sklearn.metrics import explained_variance_score
explained_variance_score(Y, Y_pred, multioutput='raw_values')

array([0.99994975])

In [37]:
np.set_printoptions(suppress=True)
print(Y_pred * (dist_expnd_df.loc[(dist_expnd_df['District'] == 'ODISHA')]['TOT_EXP_TOT']).values[0])

[ 4733.1087206  14828.04926617  7675.58780822  8663.58243423
  3789.98060321  4118.33880746  5090.82637173  3408.0112678
  9592.72269042  6319.93836668 28943.19155629  2090.52893483
  5757.14280571  3352.66354467 12116.51359367 11062.86947208
  5431.30849963 14758.41156518  2877.68448651 16827.03250964
  4580.24959781 37473.39627873 14602.90616902  5618.14911912
  5862.34144902  5441.35588316 12645.69820999  4839.94798133
  4399.96920673 16400.30572343]

# Prediction using Area, Perimeter, Lat and Long

In [38]:
ac_level_area_file = "data/QGIS/ac_comp.xlsx"
wb = load_workbook(filename=ac_level_area_file)
ws = wb['ac_comp']
data = ws.values
cols = next(data)[:]
data = list(data)
#idx = [r[0] for r in data]
#data = (itertools.islice(r, 1, None) for r in data)

In [39]:
ac_area_df = pd.DataFrame(data, columns=cols).infer_objects()
ac_area_df = ac_area_df[sorted(ac_area_df)].sort_values(by=['AC_NAME', 'PC_NAME']).reset_index()

In [40]:
ac_area_df

,index,AC_NAME,AC_NO,Area,DIST_NAME,DT_CODE,Latitude,Longitude,OBJECTID,PC_ID,PC_NAME,PC_NO,Perimeter,STATUS,ST_CODE,ST_NAME,Shape_Area,Shape_Leng
0,35,ANANDAPUR (SC),22,800.344,KENDUJHAR,6,21.264,86.201,4,2104,KEONJHAR (ST),4,229.980,None,21,ORISSA,0.069648,2.140646
1,62,ANGUL,61,611.824,ANUGUL *,15,20.740,85.095,9,2109,DHENKANAL,9,169.133,None,21,ORISSA,0.053060,1.572502
2,126,ASKA,128,275.439,GANJAM,19,19.649,84.688,19,2119,ASKA,19,128.934,None,21,ORISSA,0.023725,1.198546
3,74,ATHAGARH,89,631.319,CUTTACK,12,20.545,85.714,14,2114,CUTTACK,14,195.537,None,21,ORISSA,0.054683,1.824525
4,54,ATHAMALLIK,63,2543.615,ANUGUL *,15,20.826,84.652,3,2103,SAMBALPUR,3,278.603,None,21,ORISSA,0.220716,2.611385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,23,TELKOI (ST),20,3006.416,KENDUJHAR,6,21.398,85.544,4,2104,KEONJHAR (ST),4,392.425,None,21,ORISSA,0.261861,3.661486
143,90,TIRTOL (SC),102,394.612,JAGATSINGHAPUR *,11,20.308,86.211,16,2116,JAGATSINGHPUR (SC),16,160.628,None,21,ORISSA,0.034128,1.493953
144,82,TITLAGARH,69,1342.666,BALANGIR,24,20.390,83.281,10,2110,BOLANGIR,10,320.483,None,21,ORISSA,0.116182,2.989766
145,25,UDALA (ST),31,666.416,MAYURBHANJ,7,21.580,86.563,5,2105,MAYURBHANJ (ST),5,189.954,None,21,ORISSA,0.058116,1.769946
146,114,UMERKOTE (ST),73,1405.337,NABARANGAPUR *,28,19.882,82.100,12,2112,NABARANGPUR (ST),12,203.639,None,21,ORISSA,0.121219,1.887062

In [41]:
bala_ac_area_df = ac_area_df.loc[(ac_area_df['DT_CODE'] == 24)]
cuttack_ac_area_df = ac_area_df.loc[(ac_area_df['DT_CODE'] == 12)]

In [42]:
bala_ac_area_df

,index,AC_NAME,AC_NO,Area,DIST_NAME,DT_CODE,Latitude,Longitude,OBJECTID,PC_ID,PC_NAME,PC_NO,Perimeter,STATUS,ST_CODE,ST_NAME,Shape_Area,Shape_Leng
36,70,BOLANGIR,68,981.271,BALANGIR,24,20.638,83.387,10,2110,BOLANGIR,10,232.179,None,21,ORISSA,0.085045,2.167210
78,81,KANTABANJI,70,1371.177,BALANGIR,24,20.396,82.920,10,2110,BOLANGIR,10,272.032,None,21,ORISSA,0.118653,2.528501
93,57,LOISINGHA (SC),66,1005.551,BALANGIR,24,20.842,83.480,10,2110,BOLANGIR,10,269.698,None,21,ORISSA,0.087264,2.521134
113,61,PATNAGARH,67,1849.737,BALANGIR,24,20.713,82.995,10,2110,BOLANGIR,10,236.031,None,21,ORISSA,0.160390,2.201725
144,82,TITLAGARH,69,1342.666,BALANGIR,24,20.390,83.281,10,2110,BOLANGIR,10,320.483,None,21,ORISSA,0.116182,2.989766

In [43]:
cuttack_ac_area_df

,index,AC_NAME,AC_NO,Area,DIST_NAME,DT_CODE,Latitude,Longitude,OBJECTID,PC_ID,PC_NAME,PC_NO,Perimeter,STATUS,ST_CODE,ST_NAME,Shape_Area,Shape_Leng
3,74,ATHAGARH,89,631.319,CUTTACK,12,20.545,85.714,14,2114,CUTTACK,14,195.537,None,21,ORISSA,0.054683,1.824525
12,86,BANKI,88,587.575,CUTTACK,12,20.375,85.577,14,2114,CUTTACK,14,193.623,None,21,ORISSA,0.050839,1.806912
13,85,BARABATI-CUTTACK,90,100.892,CUTTACK,12,20.477,85.862,14,2114,CUTTACK,14,60.899,None,21,ORISSA,0.008735,0.571231
15,79,BARAMBA,87,1011.427,CUTTACK,12,20.478,85.180,14,2114,CUTTACK,14,168.717,None,21,ORISSA,0.087569,1.591361
48,80,CHOUDWAR-CUTTACK,91,87.444,CUTTACK,12,20.537,85.899,14,2114,CUTTACK,14,49.931,None,21,ORISSA,0.007574,0.467493
49,96,CUTTACK SADAR (SC),93,301.608,CUTTACK,12,20.404,86.037,14,2114,CUTTACK,14,169.745,None,21,ORISSA,0.026101,1.589947
95,76,MAHANGA,95,334.232,CUTTACK,12,20.527,86.195,15,2115,KENDRAPARA,15,130.050,None,21,ORISSA,0.028947,1.214770
102,95,NIALI (SC),92,389.455,CUTTACK,12,20.215,86.051,16,2116,JAGATSINGHPUR (SC),16,135.666,None,21,ORISSA,0.033663,1.261596
129,73,SALIPUR,94,421.124,CUTTACK,12,20.535,86.028,15,2115,KENDRAPARA,15,147.890,None,21,ORISSA,0.036474,1.380068

In [44]:
bala_ac_area_df_X = bala_ac_area_df.select_dtypes(['number'])[['Area', 'Perimeter', 'Longitude','Latitude']]

In [45]:
bala_area_soln_Y = pd.DataFrame(regr.predict(bala_ac_area_df_X))

In [46]:
bala_area_soln_Y

          0
0  0.010693
1  0.009948
2  0.010886
3  0.010692
4  0.011893

In [47]:
bala_area_soln_Y = bala_area_soln_Y/sum(bala_area_soln_Y[0])

In [48]:
sum(bala_area_soln_Y[0])

1.0

In [49]:
sum(bala_area_soln_Y[0])* (dist_expnd_df.loc[(dist_expnd_df['District'] == 'Balangir')]['TOT_EXP_TOT']).values[0] #14970.17

14970.17

In [50]:
pd.concat([bala_ac_area_df['AC_NAME'].reset_index(), bala_area_soln_Y * 12948.22], axis=1)#(dist_expnd_df.loc[(dist_expnd_df['District'] == 'Balangir')]['TOT_EXP_TOT']).values[0]], axis=1)

   index         AC_NAME            0
0     36        BOLANGIR  2558.638176
1     78      KANTABANJI  2380.436167
2     93  LOISINGHA (SC)  2604.897416
3    113       PATNAGARH  2558.367304
4    144       TITLAGARH  2845.880937

In [51]:
cuttack_ac_area_df_X = cuttack_ac_area_df.select_dtypes(['number'])[['Area', 'Perimeter', 'Longitude','Latitude']]

In [52]:
cuttack_area_soln_Y = pd.DataFrame(regr.predict(cuttack_ac_area_df_X))

In [53]:
cuttack_area_soln_Y

          0
0  0.009805
1  0.007471
2  0.009636
3  0.008679
4  0.009805
5  0.009268
6  0.009805
7  0.007369
8  0.009805

In [54]:
cuttack_area_soln_Y = cuttack_area_soln_Y/sum(cuttack_area_soln_Y[0])

In [55]:
sum(cuttack_area_soln_Y[0])

0.9999999999999999

In [56]:
sum(cuttack_area_soln_Y[0])*(dist_expnd_df.loc[(dist_expnd_df['District'] == 'Cuttack')]['TOT_EXP_TOT']).values[0] #5089.70

5089.699999999999

In [57]:
pd.concat([cuttack_ac_area_df['AC_NAME'].reset_index(), cuttack_area_soln_Y * (dist_expnd_df.loc[(dist_expnd_df['District'] == 'Cuttack')]['TOT_EXP_TOT']).values[0]], axis=1)

   index             AC_NAME           0
0      3            ATHAGARH  611.243238
1     12               BANKI  465.758926
2     13    BARABATI-CUTTACK  600.745144
3     15             BARAMBA  541.036806
4     48    CHOUDWAR-CUTTACK  611.243238
5     49  CUTTACK SADAR (SC)  577.813337
6     95             MAHANGA  611.243238
7    102          NIALI (SC)  459.372834
8    129             SALIPUR  611.243238